body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.product-list{
    margin-top: 200px;
}
.box{
    margin-top: 800px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(197, 87, 87);
    justify-content: space-around;
    padding-top: 100px;
    align-items: center;
}
.box img{
    width: 70%;
    height: 200px;
}
.box1 ul li{
    flex: 0 0 33.333333%;
    list-style: none;
}